<div class="card border-3 border-primary m-3 card-container" style="min-width: 350px;">
    <div class="card-header fs-5"><span class="text-success fw-bold">Id:</span> {{tarea._id}}</div>
    <div class="card-body">
      <h4 class="card-title text-center text-capitalize">{{tarea.titulo}}</h4>
      <p class="card-text text-center text-capitalize">{{tarea.descripcion}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between"><span class="text-primary fw-bold">Asignado a:</span> <span class="text-end">{{tarea.asignado}}</span></li>
        <li class="list-group-item d-flex justify-content-between"><span class="text-primary fw-bold">Fecha final: </span>{{fechaFin}}</li>
        <li class="list-group-item text-center"><span [ngClass]="cambiarColorEstado(tarea.estado)" class="fw-bold fs-4">{{tarea.estado}}</span></li>
      </ul>
      <div class="d-flex justify-content-center">
        <button class="m-2 btn btn-dark" (click)="editarTarea()">Editar tarea</button>
      </div>
    </div>
</div>